<div #slides (mouseenter)="removeInterval()" (mouseleave)="createInterval()" (touchstart)="removeInterval()"
  class="carousel d-flex justify-content-center align-items-center w-100" [ngStyle]="style">
  <ng-container>
    <app-carousel-slide [slidemodified]="carousel.slideSeleted" (arrange)="arrange($event)" [slides]="carousel.slides">
      <ng-container>
        <div class="ratio ratio-16x9">
          <a href="https://google.com" target="_blank"> 
            <img
              src="https://dummyjson.com/image/1000x400/008080/ffffff"
              alt="" style="width: 100%;"> </a>
        </div>
      </ng-container>
    </app-carousel-slide>
    <app-carousel-slide [slidemodified]="carousel.slideSeleted" (arrange)="arrange($event)"
      [slides]="carousel.slides">
      <ng-container>
        <div class="ratio ratio-16x9">
          <a href="https://google.com" target="_blank">
            <img src="https://dummyjson.com/image/1000x400/282828" alt="" style="width: 100%;"> </a>
        </div>
      </ng-container>
    </app-carousel-slide>
  </ng-container>
  <div class="dots">
    <!-- <i (click)="arrange(changeSlide('subtract'))" class="icon i-arrow-incomplete i-xs left"></i>
    <ng-container *ngTemplateOutlet="dots">
      <app-carousel-dot *ngFor="let slide of slidesArray; let i = index" (arrange)="arrange($event)"  [index]="i" [dot-selected]="carousel.slideSeleted"></app-carousel-dot>
    </ng-container>
    <i (click)="arrange(changeSlide('add'))" class="icon i-arrow-incomplete i-xs"></i> -->
  </div>
</div>
