
.carousel {
  position: relative;
  overflow: hidden;
  min-height: 226px;
  transition: height 0.3s;
  .arrow {
    cursor: pointer;
    width: 70px;
    height: 70px;
    z-index: 10;
    &.left {
      left: -5%;
      transform: rotate(180deg) !important;
    }
    &.right {
      right: -5%;
    }
    .icon {
      background-color: #0033a0c3;
    }
    &:hover {
      z-index: 10;
      .icon {
        background-color: #0033a0;
      }
    }
  }

  .dots {
    position: absolute;
    padding: 0%;
    width: 100%;
    bottom: 0%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 400px) {
    min-height: 280px;
  }

  @media (min-width: 576px) {
    min-height: 400px;
  }

  @media (min-width: 1900px) {
    min-height: 398px;
  }
}

